.config/onedrive/.sync_list.hash
.config/onedrive/items.sqlite3
.config/onedrive/items.sqlite3
.config/onedrive/items.sqlite3-shm
.config/onedrive/items.sqlite3-wal
.config/onedrive/refresh_token
.config/onedrive/accounts/jakobolason@gmail.com/sync_list
